@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Two little entrepreneurs, doing what we love, to earn money to go on our dream vacation to Disney World & Universal Studios. Thank you for the support!</p>
