@{
    ViewData["Title"] = "Contact Us...";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    123 Somewhere Dr.<br />
    Stafford, VA 22556-1234<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Our Email:</strong> <a href="mailto:AKA_CakePops@gmail.com">AKA_CakePops@gmail.com</a><br />
    <strong>Our Web Developer:</strong> <a href="mailto:denis.m.licona@oulook.com">denis.m.licona@outlook.com</a>
</address>
