@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <center><img src="~/images/girlsheart.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>
                    The little faces behind the idea.
                </p>
            </div>
        </div>
        <div class="item">
            <center><img src="~/images/abriwork.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>
                    Some sprinkles makes them look so nice!
                </p>
            </div>
        </div>
        <div class="item">
            <center><img src="~/images/attawork.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>
                    I love strawberrys, so... why not!
                </p>
            </div>
        </div>
        <div class="item active">
            <center><img src="~/images/sample1.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>

                </p>
            </div>
        </div>
        <div class="item active">
            <center><img src="~/images/sample2.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>

                </p>
            </div>
        </div>
        <div class="item active">
            <center><img src="~/images/sample3.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item active">
            <center><img src="~/images/sample4.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>

                </p>
            </div>
        </div>
        <div class="item active">
            <center><img src="~/images/sample5.jpg" alt="Image" height="425" width="425" /></center>
            <div class="carousel-caption" role="option">
                <p>

                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Welcome to AKA Cake Pops!</h2>
        <p>
            AKA Cake Pops is a simple website that allows you
            to design your very own cake pops for your
            special occasions. Give it a try today!
        </p>
        <ul>
            <li>
                <a href="https://www.facebook.com">Build and order your cake pops today</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Build it from scratch</h2>
        <p>
            You can build your very own cake pop by
            following 4 quick and easy steps:
        </p>
        <ul>
            <li> Step 1: Pick your batter</li>
            <li> Step 2: Pick your frosting</li>
            <li> Step 3: Pick your drizzle</li>
            <li> Step 4: Pick your sprinkles</li>
        </ul>
        <p>
            That's is all! Order today and enjoy with your family and friends.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Follow us!</h2>
        <ul>
            <li><a href="https://www.instagram.com/akacakepops/">Follow us on Instagram</a></li>
            <li><a href="https://www.facebook.com/AKAcakepops/">Like our Facebook Page</a></li>
            <li><a href="https://github.com/dmlicona">Check out our Cloud Applications Developer, uncle Denis</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Let's begin your order!</h2>
        <ul>
            <li><a href="https://www.instagram.com/akacakepops/">Click to here to start</a></li>

        </ul>
    </div>

</div>
