@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>AkA Cake Pops</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to AkA 
            Cake Pops</h2>
        <p>
            AkA Cake Pops is a simple website that 
            allows you to design your very own cake pops
            for your special occasions. Give it a try today!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>
            You can build your very own cake pop by following 4 quick and
            easy steps and finally place your order with the click of a button.
        </p>
        <p>
            <a class="btn btn-default"
               href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">
                Click here to begin
                &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Follow us!</h2>
        <p>You can see samples of our creations via FaceBook or Instagram.</p>
        <p>
            <a class="btn btn-default"
               href="https://www.instagram.com/akacakepops/">Follow us on Instagram &raquo;</a>
            <a class="btn btn-default"
               href="https://www.facebook.com/AKAcakepops/">Like our Facebook Page &raquo;</a>
        </p>
    </div>
</div>